html,body{
	width:100%;
	height:100%;
	margin:0;
	background-color: #000;
	color:#fff;
}
#graph{
	width:20vw;
	height:40vh;
	position:fixed;
	left:0px;
	top:0px;
	background-color:rgba(100,100,100,.5);
	padding:10px;
}
.bar{
	position:relative;
	background-color: #ccf;
	border:2px outset #ccf;
	height:20%;
	width:20%;
	display:inline-block;
}
.beastie{
	position:absolute;
	width:20px;
	height:20px;
	font-size:large;
	text-shadow:none;
	animation:none;
	-webkit-animation:none;
}
.beastie:hover{
	transform:scale(2,2);
}
.skrHi{
	background-color: #ccf;
}
.skeHi{
	background-color: #fcf;
}

/*HP stuffs*/
.barFull{
    width:18px;
	height:4px;
    padding:1px;
    background-color:#555;   
}
.barInner{
    width:100%;
	height:2px;
    position:relative;
    top:1px;
    background-color:#d00;   
}

@keyframes mateBurst {
	0% {box-shadow:0 0 0px 0px #00BE00;}
	100% {box-shadow:0 0 50px 20px #00BE00;}
}
@-webkit-keyframes mateBurst {
	0% {box-shadow:0 0 0px 0px #00BE00;}
	100% {box-shadow:0 0 50px 20px #00BE00;}
}

@keyframes preyBurst {
	0% {box-shadow:0 0 0px 0px #c00;}
	100% {box-shadow:0 0 50px 20px #c00;}
}
@-webkit-keyframes preyBurst {
	0% {box-shadow:0 0 0px #c00;}
	100% {box-shadow:0 0 50px 20px #c00;}
}